/*Header*/
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.logo-text {
    font-size: 20px;
    font-weight: initial;
    text-transform: uppercase;
}
.search-input {
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    color: black;
    opacity: 0.8;
    max-width: 250px;
    width: 100%;
}
@media screen and (max-width: 640px){
    .search-input {
        max-width: 150px;
    }
}
.header-wrapper-cart {
    display: flex;
    position: relative;
}
.header-wrapper-cart-user {
    margin-right: 20px;
}
.cart-icon {
    position: relative;
}
.cart-icon-quantity {
    background-color: green;
    color: white;
    padding: 1px 7px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: -15px;
}

/*Login*/
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login-title {
    padding-top: 60px;
    margin: 0;
}
.login-subtitle {
    margin: 0 0 20px 0;
}
.login-subtitle-second{
    font-size: 16px;
    font-weight: initial;
    opacity: 0.9;
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-field {
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    margin-bottom: 10px;
}
.submit-button {
    padding: 8px 16px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-weight: bold;
}
.submit-button:hover {
    opacity: 0.8;
}

/*PageNotFound*/
.not-found-page-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.not-found-title {
    padding: 20px 0;
}
.go-back-button {
    padding: 8px 16px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}
.go-back-button:hover {
    background-color: #eab308;
    color: #000;
}

/*Menu*/
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*MenuItem*/
.menu-item-container{
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid darkgrey;
}
.menu-item-image{
    width: 100px;
    height: 100px;
}
.sold-out-image {
    opacity: 0.5;
    filter: grayscale(100%);
}
.menu-item-wrapper {}
.menu-item-wrapper-name{
    margin: 0;
    font-weight: lighter;
}
.menu-item-wrapper-ingredients {
    font-style: italic;
    font-weight: 400;
    color: grey;
    margin-bottom: 20px;
}
.menu-item-wrapper-unitPrice {
    margin: 0;
    color: grey;
}
.add-to-cart-button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    grid-column: 3;
    align-self: end;
}

/*Cart*/
.cart-container {
    display: grid;
    justify-content: center;
    align-self: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0 auto;
    padding: 20px 0;
}
.arrow-left {
    transform: rotate(180deg);
    display: inline-block;
}
.back-to-menu-button {
    color: royalblue;
    cursor: pointer;
}
.cart-title {
    font-weight: lighter;
    color: darkslategrey;
}
.cart-item-container{
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid darkgrey;
}
.cart-item-wrapper {
    display: flex;
    align-items: center;
}
.cart-item-wrapper-quantity, .cart-item-wrapper-name {
    color: grey;
    font-weight: lighter;
    margin-right: 10px;
}
.cart-item-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-item-price-wrapper {
    color: darkslategrey;
    margin-right: 10px;
    font-weight: bold;
}
.cart-item-quantity-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.button-quantity {
    background-color: #eab308;
    border: none;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    width: 35px;
    height: 30px;
    margin: 0 10px;
}
.cart-buttons-container {
    padding-top: 30px;
    align-self: start;
}
.cart-order-button {
    color: darkslategrey;
    font-weight: bold;
    background-color: #eab308;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    margin-right: 20px;
    transition: box-shadow 0.3s ease-in-out;
}
.clear-button {
    color: darkslategrey;
    font-weight: bold;
    padding: 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.clear-button:hover {
    background-color: #eab308;
    color: #000;
}

/*New order*/
.new-order-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0 auto;
    padding: 20px 0;
}
.new-order-title {
    justify-content: start;
    font-weight: lighter;
    color: darkslategrey;
}
.new-order-input-container{
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}
.new-order-input-container-title {
    color: grey;
    font-weight: lighter;
    margin-right: 10px;
}
.checkbox-container {
    display: flex;
    align-items: center;
    color: darkslategrey;
    font-weight: bold;
}
.order-button {
    color: darkslategrey;
    font-weight: bold;
    background-color: #eab308;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    transition: box-shadow 0.3s ease-in-out;
}

/*Input*/
.input-component {
    font-size: 16px;
    padding: 12px 16px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    width: 100%;
}
.checkbox-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/*Order details*/
.order-details-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0 auto;
    padding: 20px 0;
}
.order-details-status-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.order-details-title {
    color: darkslategrey;
    font-weight: bold;
    margin-right: 20px;
}
.order-details-status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-status-menu-wrapper {}
.order-status-menu-quantity {
    color: darkslategrey;
    font-weight: bold;
    margin: 0;
}
.order-status-menu-price {
    align-self: start;
    justify-self: end;
    color: darkslategrey;
    font-weight: bold;
}
.priority-status {
    padding: 5px 15px;
    background-color: #ef4444;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 10px;
}
.order-status {
    padding: 5px 15px;
    background-color: #22c55e;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}
.order-status-delivery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 5px 10px;
    border-radius: 10px;
}
.order-status-delivery-container-left {
    color: darkslategrey;
    font-weight: bold;
    margin-right: 100px;
}
.order-status-delivery-container-estimated {
    opacity: 0.5;
}
.order-status-menu {
    margin-bottom: 30px;
    border-top: 1px solid darkgrey;
}
.order-status-menu-container {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid darkgrey;
}
.order-status-price-container {
    padding: 20px;
    color: darkslategrey;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 30px;
}
.prioritize-button {
    color: darkslategrey;
    font-weight: bold;
    background-color: #eab308;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    transition: box-shadow 0.3s ease-in-out;
    justify-self: end;
}
