/*Header*/
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.logo-text {
    font-size: 20px;
    font-weight: initial;
    text-transform: uppercase;
}
.search-input {
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    color: black;
    opacity: 0.8;
    max-width: 250px;
    width: 100%;
}
@media screen and (max-width: 640px){
    .search-input {
        max-width: 150px;
    }
}

/*Login*/
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login-title {
    padding-top: 60px;
    margin: 0;
}
.login-subtitle {
    margin: 0 0 20px 0;
}
.login-subtitle-second{
    font-size: 16px;
    font-weight: initial;
    opacity: 0.9;
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-field {
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    margin-bottom: 10px;
}
.submit-button {
    padding: 8px 16px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.submit-button:hover {
    opacity: 0.8;
}

/*PageNotFound*/
.not-found-page-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.not-found-title {
    padding: 20px 0;
}
.go-back-button {
    padding: 8px 16px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}
.go-back-button:hover {
    background-color: #eab308;
    color: #000;
}

/*Menu*/
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*MenuItem*/
.menu-item-container{
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid darkgrey;
}
.menu-item-image{
    width: 100px;
    height: 100px;
}
.sold-out-image {
    opacity: 0.5;
    filter: grayscale(100%);
}
.menu-item-wrapper {}
.menu-item-wrapper-name{
    margin: 0;
    font-weight: lighter;
}
.menu-item-wrapper-ingredients {
    font-style: italic;
    font-weight: 400;
    color: grey;
    margin-bottom: 20px;
}
.menu-item-wrapper-unitPrice {
    margin: 0;
    color: grey;
}
.add-to-cart-button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    grid-column: 3;
    align-self: end;
}
